.ed {
  font-size: 12pt;
  font-family: monospace;
  border: solid black;
  width: 450;
}
.ed-center {
  display: flex;
  width: 100%;
  height: 300;
  word-wrap: break-word;
}

.foo {
  flex: 1;
  outline: 0px;
  overflow-x: scroll;
  padding-left: 0.2em;
  position: relative;
}
.ed-text {
}

.ed-gutters {
  padding-right: 0.2em;
  width: 1em;
  background-color: red;
  text-align: right;
}

.ed-bar {
  text-align: right;
  background-color: red;
  border-top: solid black;
}

.ed-sample-glyph {
  visibility: hidden;
}

.ed-caret {
  z-index: 1;
  top: 0;
  position: absolute;
  background-color: purple;
  color: white;
}
